* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------------------------------------------------------------*/
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/*---------------------------------------------------------------------------*/
body {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  color: #171718;
}

.wrapper {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

h2 {
  font-weight: 900;
  line-height: 54px;
  font-size: 45px;
}

h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.span {
  min-width: 3px;
  height: 100%;
  background-color: #7f5af0;
  border-radius: 5px;
}

.mr1 {
  margin-bottom: 10px;
}

.arrows {
  position: absolute;
}

.arrow {
  width: 28px;
  height: 28px;
  background: no-repeat center url("../img/arrow-to-right.svg");
}

.arrow:disabled {
  opacity: 0.2;
}

.arrow svg {
  display: none;
}

.prev {
  margin-right: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 16px;
  left: 530px;
}

.next {
  top: 30px;
  left: 570px;
}

.slide-shadow-box {
  position: relative;
}

.shadow {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, rgba(255, 255, 255, 0.288953)), to(white));
  background: linear-gradient(90deg, #020024 0%, rgba(255, 255, 255, 0.288953) 0%, white 100%);
  width: 5%;
  height: 274px;
  top: 60px;
  right: 0px;
  z-index: 2;
}

.slider {
  position: relative;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 820px;
  min-height: 202px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 32px rgba(157, 169, 194, 0.24);
          box-shadow: 0px 4px 32px rgba(157, 169, 194, 0.24);
  border-radius: 5px;
  margin-top: 40px;
}

.slider__item--user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 112px;
  padding: 35px 30px;
}

.slider__item--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 30px;
}

.slider__item--body-text {
  max-width: 500px;
  padding-left: 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 699px) {
  .wrapper {
    min-width: 665px;
  }
  h2 {
    font-size: 35px;
  }
  h6 {
    font-size: 14px;
  }
  .slider__item {
    max-width: 600px;
  }
  .slider__item--body {
    padding: 25px 14px;
  }
  .slider__item--body-text {
    font-size: 14px;
    max-width: 460px;
  }
  .prev {
    top: 16px;
    left: 410px;
  }
  .next {
    top: 30px;
    left: 450px;
  }
  .shadow {
    display: none;
  }
}
